<div class="footer">
    <div class="footer-wrapper">
        <a href="#" class="footer-icon">
            <img src="/images/logo-linkedin.png" alt="linkedin-icon">
        </a>
        <a href="#" class="footer-icon">
            <img src="/images/logo-github.png" alt="github-icon">
        </a>
        <a href="#" class="footer-icon">
            <img src="/images/logo-email.png" alt="email-icon">
        </a>
    </div>
</div>