./public/README.txt
./public/LICENSE.txt
./public/elements.html
./public/generic.html
./public/landing.html

./public/stylesheets/*.otf
./public/stylesheets/main.js

node_modules

*.DS_Store

personal_website.sketch