/**
*
* Primary, Secondary, Surfaces Colors
*
*/

/*
* Primary Navy
*/
$hi-navy: #002855;
$hi-navy-900: #000a33;
$hi-navy-800: $hi-navy;
$hi-navy-700: #0b3f6e;
$hi-navy-600: #2b5b8c;
$hi-navy-500: #7299c4;
$hi-navy-400: #abc5e3;
$hi-navy-300: #d7e3f1;
$hi-navy-200: #eaeff7;

/*
* Primary Gold
*/
$hi-gold: #c19a53;
$hi-gold-900: #8a5300;
$hi-gold-800: #985f06;
$hi-gold-700: #a5721c;
$hi-gold-600: #b38536;
$hi-gold-500: $hi-gold;
$hi-gold-400: #d4b478;
$hi-gold-300: #e7d1a3;
$hi-gold-200: #faeed3;

/*
* Secondary Color : Supporting Colors
*/
$hi-red: #da291c;
$hi-green: #4a783c;
$hi-blue: #8dc8e8;
$hi-purple: #b06c95;

/*
* Secondary Color : Surface Colors
*/
$hi-dark: #0f0f0f;
$hi-dark-grey: #c6cdce;
$hi-light-grey: #f0f5f8;
$hi-light: #f7fcff;

/*
* Other basline Color
*/
$hi-black: #1f1f1f;
$hi-white: #ffffff;
$hi-bl-grey: #858585;
$hi-bl-grey-light: #ebebeb;

/*
* Box shadow
*/
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

/*
* Theme Color - Light
*/
$light-default: rgba(255, 255, 255, 0.88);
$light-enabled: rgba(255, 255, 255, 0.56);
$light-disabled: rgba(255, 255, 255, 0.32);

/*
* Theme Color - Dark
*/
$dark-default: rgba(0, 0, 0, 0.88);
$dark-enabled: rgba(0, 0, 0, 0.56);
$dark-disabled: rgba(0, 0, 0, 0.32);
$dark-lightest: rgba(0, 0, 0, 0.08);

/*
* Border
*/
$border-radius: 4px;

/*
*
* Color Blend Fx
* https://github.com/heygrady/scss-blend-modes/blob/master/stylesheets/_blend-modes.scss
*
*/
@function blendNormal($foreground, $background) {
    $opacity: opacity($foreground);
    $background-opacity: opacity($background);

    // calculate opacity
    $bm-red: red($foreground) * $opacity + red($background) * $background-opacity * (1 - $opacity);
    $bm-green: green($foreground) * $opacity + green($background) * $background-opacity * (1 - $opacity);
    $bm-blue: blue($foreground) * $opacity + blue($background) * $background-opacity * (1 - $opacity);
    @return rgb($bm-red, $bm-green, $bm-blue);
}