// grid the table
// max 3 row, 3 col
.table {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;

    .row {
        margin: 16px 0;

        .key {
            @include body1;
            display: inline-block;
            width: 120px;
        }

        .value {
            @include body1;
            display: inline-block;

            &.link {
                text-decoration: underline;
                cursor: pointer;
                color: $hi-gold;
            }
        }
    }

    @media screen and (max-width: 1032px) {
        .row {
            margin: 8px 0;
        }
    }

    @media screen and (max-width: 767px) {
        grid-auto-flow: unset;
    }
}