<div class="footer" id="footer">
    <div class="footer-wrapper">
        <a
            href="https://www.linkedin.com/in/harrixon-chan/"
            class="footer-icon"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="/images/logo-linkedin.png" alt="linkedin-icon">
        </a>
        <a
            href="https://github.com/harrixon"
            class="footer-icon"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="/images/logo-github.png" alt="github-icon">
        </a>
        <a
            href="mailto:harrisonchan1991@gmail.com?subject=I want to hire"
            class="footer-icon"
        >
            <img src="/images/logo-email.png" alt="email-icon">
        </a>
    </div>
</div>